@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "AvenirNextLTPro-Bold";
    src: url(../fonts/AvenirNextLTPro-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "AvenirNextLTPro-It";
    src: url(../fonts/AvenirNextLTPro-It.otf) format('opentype');
}

@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url(../fonts/AvenirNextLTPro-Regular.otf) format('opentype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Switzer-Regular';
    background: #1B3936;
}

.container {
    max-width: 1194px;
    margin: auto;
}

/* Header Area */
.transparent-header {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1111;
}

.nav-design {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.menu-left ul li {
    list-style: none;
    display: inline-block;
    margin-right: 50px;
}

.menu-left ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Switzer-Regular';
    color: #ffffff;
}

.menu-right ul li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

.menu-right ul li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Switzer-Regular';
    color: #ffffff;
}

/* Hero Area */
.hero-area {
    background: url("../img/hero/hero-main-bg.png") no-repeat center center / cover;
    display: block;
    overflow: hidden;
}

.container-hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.container-hero .hero-img1 {
    padding-left: 40px;
}

.hero-thumb img {
    position: absolute;
    width: 570px;
    height: 570px;
    border-radius: 100%;
    top: 0;
    left: 0;
    transform: translateX(55%) translateY(45%);
}

.hero-content {
    position: absolute;
    top: 14%;
    left: -4%;
}

.hero-content h1.hero-content-first {
    text-align: center;
    font-size: 262px;
    line-height: 0.8;
    font-family: 'Boska-Light';
    color: #ffff;
}

.hero-content h1.hero-content-first i {
    text-align: center;
    font-size: 262px;
    line-height: 0.8;
    font-family: 'Boska-LightItalic';
    color: #75FF69;
    padding-left: 420px;
}

.hero-content h1.hero-content-second span {
    text-align: center;
    font-size: 32px;
    line-height: 0;
    font-family: 'Boska-Bold';
    color: #ffff;
}

.hero-content h1.hero-content-second {
    text-align: center;
    font-size: 262px;
    line-height: 0.6;
    font-family: 'Boska-Light';
    color: #ffff;
    margin-top: -110px;
}

.hero-content p {
    padding: 80px 368px;
    text-align: center;
    color: #ffff;
}

.hero-video-button {
    position: relative;
    background: #75FF69;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-35px);
    z-index: 111;
    outline: 10px solid #ffffff2d;
    margin-top: 15px;
}

.hero-video-button img {
    display: block;
    padding: 35px;
}

/* Info Area */
.info-area {
    padding-top: 108px;
    padding-bottom: 122px;
    background: #F9F9F9;
}

.info-area-div {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.info-left p {
    padding: 38px 300px 0 0;
    font-size: 24px;
}

.info-right p {
    color: #1B3936;
    font-size: 24px;
}

.info-right h2 {
    font-family: 'Boska-Bold';
    color: #1B3936;
    font-size: 100px;
}

.info-right h2 span {
    font-family: 'Switzer-Regular';
    color: #1B3936;
    font-size: 24px;
    padding-left: 10px;
}

/* BG Image Area */
.bg-image-area img {
    width: 100%;
    height: auto;
}

/* About Area */
.about-area {
    z-index: 1;
    position: relative;
    padding-top: 230px;
    padding-bottom: 460px;
    background: url("../img/about/about-bg.png") no-repeat center center / cover;
    display: block;
    overflow: hidden;
}


.container-about {
    position: relative;
    background-image: radial-gradient(circle, #1b393690 60%, #1b393616 80%, #1b393600 100%);
}

.container-about .about-img1 {
    position: absolute;
    top: 6.6%;
    left: -6.8%;
    z-index: -1;
}

.container-about .about-img2 {
    position: absolute;
    top: -18%;
    right: -6%;
    z-index: -1;
}

.container-about .about-img3 {
    position: absolute;
    left: 2%;
    bottom: -35%;
    z-index: -1;
}

.container-about .about-img4 {
    position: absolute;
    right: 2%;
    bottom: -35%;
    z-index: -1;
}

.about-title p {
    text-align: center;
    color: #75FF69;
    font-size: 24px;
    font-family: 'Switzer-Regular';
}

.about-content p {
    text-align: center;
    color: #678784;
    font-size: 68px;
    font-family: 'Boska-Regular';
    text-transform: capitalize;
    padding: 5px 44px;
}

.about-content p span {
    color: #ffffff;
}